

<!DOCTYPE html>
<html>
  <head>
    <title>Cities</title>
  </head>
  <body>
    <h1>KWKtravelz</h1>
  </body>
  <h2>Click the city below to check out popular eats and attractions! 
    <ul>
      <li> <a href = "/LA">LA</a>
</html>